/* ==UserStyle==
@name           Duckduckgo
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Duck duck go widescreen style
@author         Hayden
@updateURL      https://raw.githubusercontent.com/haydenbroadhead/stylish/master/Duckduckgo.user.css
==/UserStyle== */

.result__body b, .result__body strong {
    background-color: #ff09;
    padding: 2px;
}

#links .result__title b, #links .result__title strong {
    font-weight: 500 !important;
}


.results--main {
    max-width: 800px;
}

.results--sidebar {
    margin-left: 840px;
    max-width: 700px;
}

.cw, .cw--c P{
    max-width: 1500px;
}
